/* ==========================================================================
   Retro theme skin
   ========================================================================== */

/* Colors */
$base-color: #2a363b !default;
$text-color: #e84a5f !default;
$accent-color: #feceab !default;
$background-color: #99b898 !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;